
<h1>An archive of Kate Griffin's music photography 2007 - 2015</h1>

<% if @current_user.present? %>
    <h2>Welcome back <%= @current_user.email %></h2>
<% end %>

<img class="homepage-image-1" src="http://www.griffinrocks.com.au/wp-content/uploads/2015/01/april-2014-75.jpg" 
