<img src="http://www.griffinrocks.com.au/wp-content/uploads/2013/05/griffinrocks-logo1.png" alt="GriffinRocks music photography logo">
<h1>An archive of Kate Griffin's music photography career 2007 - 2015</h1>

<% if @current_user.present? %>
    <h2>Welcome back <%= @current_user.email %></h2>
<% end %>
