<h1>Bands</h1>

<body>
  <div class="container">
<% @bands.each do |band| %>
    <%= link_to band do %>
    <%= image_tag band.image, :class => 'preview' if band.image.present? %>
    <% end%>
<% end%>
    </div>
</body>