<h1>All bands</h1>

<div class="show-bands"><% @bands.each do |band| %>
    <div class="band-card"><%= image_tag band.image, :class => 'preview' if band.image.present? %>
<p><%= link_to band.name, band %> (<%= band.country %>)</p></div>

<% end %>
</div>